<html>

<head>
  <title>UA Smash Overlay Editor</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link href="https://unpkg.com/primevue@^3/resources/themes/saga-blue/theme.css" rel="stylesheet">
  <link href="https://unpkg.com/primevue/resources/primevue.min.css" rel="stylesheet">
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/editor.css">

  <style>

  </style>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue@3"></script>

  <script src="https://unpkg.com/primevue/core/core.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/datatable/datatable.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/column/column.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/autocomplete/autocomplete.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/selectbutton/selectbutton.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/checkbox/checkbox.min.js"></script>

  <script src="/socket.io/socket.io.js"></script>

</head>

<body>
  <div id="app">

    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
      <div class="container-fluid" style="">
        <a class="navbar-brand pt-1 pl-2" href="#" disabled>
          <img src="/fsmsmashlogo.png" alt="" height="30" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/striker">Striker</a>
            </li>
          </ul>

          <div class="navbar-nav me-auto m-2"></div>

          <!-- TODO: Log out feature. -->
          <!--
          <button class="btn btn-light" type="button" @click="logOut">Log Out</button>-->

        </div>
      </div>
    </nav>

    <div
      class="container-fluid"
      style="padding-bottom: 25px; padding-top: 15px"
    >
      <div class="row">
        <div class="col-12 col-lg-6 pb-3" style="height: 515px">
          <p-datatable
            show-gridlines
            :value="setList"
            v-model:selection="setselection"
            selection-mode="single"
            class="p-datatable-sm border"
            data-key="id"
            :scrollable="true"
            scroll-height="flex"
            @row-select="onSetSelection()"
            filter-display="row"
            v-model:filters="filters2"
            :loading="loading2"
            responsive-layout="scroll"
            :global-filter-fields="['phaseName', 'fullRoundText', 'versusBanner']"
          >
            <template #header>
              <div class="p-inputgroup">
                <p-dropdown
                  v-model="tournamentselection"
                  :options="tournamentList"
                  option-label="name"
                  placeholder="Select a Tournament"
                  @change="importPlayerList()"
                ></p-dropdown>
                <p-dropdown
                  v-model="eventselection"
                  :options="getEventList(tournamentselection)"
                  option-label="name"
                  placeholder="Select an Event"
                ></p-dropdown>
                <p-button icon="pi pi-refresh" @click="importSetList()" ></p-button>
              </div>
              <!--
                  <div class="flex justify-content-end">
                    <span class="p-input-icon-left ">
                      <i class="pi pi-search" />
                      <InputText v-model="filters2['global'].value" placeholder="Keyword Search" />
                    </span>
                  </div>-->
            </template>
            <template #empty> No sets to show. </template>
            <template #loading> Loading set data. Please wait. </template>

            <p-column header="Bracket" filter-field="phaseName">
              <template #body="{ data }">
                {{ data.phaseName }}
              </template>
              <template #filter="{ filterModel, filterCallback }">
                <p-inputtext
                  type="text"
                  v-model="filterModel.value"
                  @input="filterCallback()"
                  class="p-column-filter"
                  placeholder="Search Bracket"
                ></p-inputtext>
              </template>
            </p-column>

            <p-column header="Round" filter-field="fullRoundText">
              <template #body="{ data }">
                {{ data.fullRoundText }}
              </template>
              <template #filter="{ filterModel, filterCallback }">
                <p-inputtext
                  type="text"
                  v-model="filterModel.value"
                  @input="filterCallback()"
                  class="p-column-filter"
                  placeholder="Search Round"
                ></p-inputtext>
              </template>
            </p-column>

            <p-column header="Match" filter-field="versusBanner">
              <template #body="{ data }">
                {{ data.versusBanner }}
              </template>
              <template #filter="{ filterModel, filterCallback }">
                <p-inputtext
                  type="text"
                  v-model="filterModel.value"
                  @input="filterCallback()"
                  class="p-column-filter"
                  placeholder="Search Match"
                ></p-inputtext>
              </template>
            </p-column>
          </p-datatable>
        </div>

        <div class="col-12 col-lg-6">
          <form class="border" id="overlay-edit" style="margin-bottom: 25px">
            <div class="row mb-3">
              <h5>Player Information</h5>
            </div>

            <div class="row" style="">
              <div class="col-6 col-md-4 mb-2">
                <p-autocomplete
                  v-model="teamone"
                  :suggestions="filteredPlayers"
                  @complete="filterPlayers($event)"
                  option-label="name"
                  :dropdown="false"
                  placeholder="Team 1"
                ></p-autocomplete>
              </div>

              <div class="col mb-2">
                <p-selectbutton
                  v-model="p1score"
                  :options="scoreOptions"
                  option-label="name"
                ></p-selectbutton>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6 col-md-4 mb-2">
                <p-autocomplete
                  v-model="teamtwo"
                  :suggestions="filteredPlayers"
                  @complete="filterPlayers($event)"
                  option-label="name"
                  :dropdown="false"
                  placeholder="Team 2"
                ></p-autocomplete>
              </div>

              <div class="col">
                <p-selectbutton
                  v-model="p2score"
                  :options="scoreOptions"
                  option-label="name"
                ></p-selectbutton>
              </div>
            </div>

            <div class="row mb-3">
              <h5>Event Banner</h5>
            </div>

            <div class="row mb-2">
              <div class="col-6 col-md-4 mb-2">
                <p-dropdown
                  class="w-100"
                  v-model="brackettype"
                  :options="bracketList"
                  option-label="name"
                  placeholder="Bracket Type"
                ></p-dropdown>
              </div>
              <div class="col-6 col-md-4 mb-2">
                <p-dropdown
                  class="w-100"
                  v-model="eventround"
                  :options="roundList"
                  option-label="name"
                  placeholder="Round"
                ></p-dropdown>
              </div>
              <div class="col-6 col-md-4 mb-2">
                <p-dropdown
                  class="w-100"
                  v-model="bestof"
                  :options="matchList"
                  option-label="name"
                  placeholder="Best of"
                ></p-dropdown>
              </div>

              <div class="col-12 mb-3">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <p-checkbox
                      v-model="typing_header"
                      :binary="true"
                    ></p-checkbox>
                  </span>
                  <p-inputtext
                    type="text"
                    v-model="typed_header"
                    :disabled="!typing_header"
                    placeholder="Manual Entry"
                  ></p-inputtext>
                </div>
              </div>
            </div>

            <div class="row justify-content-between mb-3">
              <div class="col-6">
                <p-button
                  label="Publish"
                  class="p-button-primary"
                  style="width: 125px; margin-right: 10px"
                  @click="submitOverlayForm"
                ></p-button>
                <p-button
                  label="Clear"
                  class="p-button-text"
                  style="width: 125px"
                  @click="clearOverlayForm"
                ></p-button>
              </div>
              <!-- TODO: Reconnect button -->
            </div>

            <div class="row mb-3">
              <h5>Module URL</h5>
            </div>

            <div class = "row">
              <div class="col-9">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="gen-module-button0" :value="getModuleURL(overlayModule,overlayRoom)">

                  <!-- TODO: Generate key button -->

                </div>
              </div>
            </div>

          </form>
        </div>

      </div>

      <div class="row justify-content-center previewbox">
        <div id="preview-p1name" class="col-4 col-lg-3 preview-boxes">
          {{ getTeamOneName }}
        </div>
        <div id="preview-p1score" class="col-1 preview-boxes">
          {{ getPlayer1Score }}
        </div>
        <div class="col-1"></div>
        <div id="preview-p2score" class="col-1 preview-boxes">
          {{ getPlayer2Score }}
        </div>
        <div id="preview-p2name" class="col-4 col-lg-3 preview-boxes">
          {{ getTeamTwoName }}
        </div>

        <transition>
          <div
            v-if="getEventHeader.length > 2"
            id="preview-header"
            class="col-11 col-lg-9"
          >
            {{ getEventHeader }}
          </div>
        </transition>
      </div>

    </div>

  </div>
</body>

<script type="module">
  import KeyManager from '/javascripts/KeyManager.js'

  const { createApp} = Vue
  const { FilterMatchMode, FilterOperator } = primevue.api;

  const socket = io("http://" + window.location.hostname + ":3000", {
    reconnectionDelayMax: 10000,
    autoConnect: false,
  })

  socket.on("connect_error", (err) => {
    //console.log(err instanceof Error)
    //console.log(err.message)
    //console.log(err.data)
  })

  socket.on("connect", () => {

  })

  socket.on("disconnect", () => {

  })

  const editorApp = createApp({
    data() {
      return {
        host: window.location.hostname,
        port: ":3000",
        typing_header: false,
        tournamentList: [],
        setList: [],
        playerList: [],
        filteredPlayers: [],
        tournamentselection: [],
        eventselection: [],
        setselection: [],
        teamone: {name: '', value: ''},
        teamtwo: {name:'', value: ''},
        p1score: {name: '', value: ''},
        p2score: {name: '', value: ''},
        brackettype: {name: '', value: ''},
        eventround: {name: '', value: ''},
        bestof: {name: '', value: ''},
        typed_header: '',
        loading2: false,
        filters2: {
          global: { value: null, matchMode: FilterMatchMode.CONTAINS },
          phaseName: { value: null, matchMode: FilterMatchMode.CONTAINS },
          fullRoundText: { value: null, matchMode: FilterMatchMode.CONTAINS },
          versusBanner: { value: null, matchMode: FilterMatchMode.CONTAINS },
        },
        overlayRoom: "",
        overlayModule: "",
        socket: socket,
        scoreOptions: [
          { name: "-", value: "" },
          { name: "0", value: "0" },
          { name: "1", value: "1" },
          { name: "2", value: "2" },
          { name: "3", value: "3" },
          { name: "4", value: "4" },
        ],
        bracketList: [
          { name: "-", value: "" },
          { name: "Pools", value: "Pools" },
          { name: "Bracket", value: "Bracket" },
          { name: "Top 32", value: "Top 32" },
          { name: "Top 8", value: "Top 8" },
        ],
        roundList: [
          { name: "Round 1", value: "Round 1" },
          { name: "Round 2", value: "Round 2" },
          { name: "Round 3", value: "Round 3" },
          { name: "Round 4", value: "Round 4" },
          { name: "Round 5", value: "Round 5" },
          { name: "Winners Round 1", value: "Winners Round 1" },
          { name: "Winners Round 2", value: "Winners Round 2" },
          { name: "Winners Round 3", value: "Winners Round 3" },
          { name: "Winners Round 4", value: "Winners Round 4" },
          { name: "Winners Round 5", value: "Winners Round 5" },
          { name: "Winners Quarter-Final", value: "Winners Quarter-Final" },
          { name: "Winners Semi-Final", value: "Winners Semi-Final" },
          { name: "Winners Final", value: "Winners Final" },
          { name: "Losers Round 1", value: "Losers Round 1" },
          { name: "Losers Round 2", value: "Losers Round 2" },
          { name: "Losers Round 3", value: "Losers Round 3" },
          { name: "Losers Round 4", value: "Losers Round 4" },
          { name: "Losers Round 5", value: "Losers Round 5" },
          { name: "Losers Quarter-Final", value: "Losers Quarter-Final" },
          { name: "Losers Semi-Final", value: "Losers Semi-Final" },
          { name: "Losers Final", value: "Losers Final" },
          { name: "Grand Final", value: "Grand Final" },
          { name: "Grand Final Reset", value: "Grand Final Reset" },
        ],
        matchList: [
          { name: "Best of 3", value: "Best of 3" },
          { name: "Best of 5", value: "Best of 5" },
        ],
      }
    },
    mounted() {
      this.setInitialState()
      this.importKeyOrGenerate()
    },
    methods: {
      async setInitialState() {

        try {
          const response = await fetch('http://'+this.host+this.port +'/smashgg/query_tournaments', {
            method: "get",
            headers: {
              "Content-Type": "application/json; charset=UTF-8",
            },
          });

          if(response.ok) {
            const results = await response.json()
            this.tournamentList = results
          }
        } catch (e) {
          console.log(e)
        }

      },
      getEventList(input) {
        if (input == null) {
          return []
        } else if (input.events != null) {
          return input.events
        } else {
          return []
        }
      },
      onSetSelection() {
        const choice = this.setselection
        if (choice != null) {
          this.teamone = { name: choice.teamOne.name, value: choice.teamOne.name }
          this.teamtwo = { name: choice.teamTwo.name, value: choice.teamTwo.name }

          this.p1score = { name: "0", value: "0" }
          this.p2score = { name: "0", value: "0" }

          this.brackettype = { name: choice.phaseName, value: choice.phaseName }
          this.eventround = { name: choice.fullRoundText, value: choice.fullRoundText }
          this.bestof = { name: "Best of 3", value: "Best of 3" }
        }
      },
      async importSetList() {
        if (this.eventselection != null) {
          this.clearOverlayForm()

          try {
            const response = await fetch('http://'+this.host+this.port +'/smashgg/query_sets?' + new URLSearchParams({"event_id":this.eventselection.id}), {
              method: "get",
              headers: {
                "Content-Type": "application/json; charset=UTF-8",
              },
            });

            if(response.ok) {
              const results = await response.json()
              this.setList = results
            }
          } catch (e) {
            console.log(e)
          }

        }
      },
      async importPlayerList() {
        if (this.tournamentselection != null) {
          if (this.tournamentselection.id != null) {

            try {
              const response = await fetch('http://'+this.host+this.port+'/smashgg/query_players?' + new URLSearchParams({"tourney_id":this.tournamentselection.id}), {
                method: "get",
                headers: {
                  "Content-Type": "application/json; charset=UTF-8",
                },
              });

              if(response.ok) {
                const results = await response.json()
                this.playerList = results
              }
            } catch (e) {
              console.log(e)
            }

          }
        }
      },
      filterPlayers(event) {
        const items = this.playerList

        if (items != null) {
          const query = event.query
          const _filteredItems = []

          for (let i = 0; i < items.length; i++) {
            const item = items[i]
            if (item.name.toLowerCase().indexOf(query.toLowerCase()) === 0) {
              _filteredItems.push({ name: item.name, value: item.name })
            }
          }

          this.filteredPlayers = _filteredItems
        }
      },
      async importKeyOrGenerate() {

        var room = await KeyManager.importRoomKey('http://'+this.host+this.port+'/keys/get_key',<%= user.id %>,"overlay")
        if(room.length == 0) {
          room = await KeyManager.generateRoomKey('http://'+this.host+this.port+'/keys/create_key',<%= user.id %>,"overlay")
        }

        this.overlayRoom = room
        this.overlayModule = "module/overlay"

        this.socket.auth = { room }
        this.socket.connect()

      },
      getModuleURL(module, room) {
        if(module != null && room != null) {
          return this.host +this.port+ "/" + module + "?id=" + room
        } else {
          return ''
        }
      },
      getFormattedName(data) {
        if (data == null) {
          return ""
        } else if (typeof data == "string") {
          return data
        } else {
          return data.value
        }
      },
      getFormattedScore(score) {
        if (score == null) {
          return ""
        } else {
          return score.value
        }
      },
      getFormattedEventHeader() {
        let generatedHeader = ""

        if (
          this.brackettype != null && this.eventround != null && this.bestof != null && this.typed_header != null
        ) {
          const bracket = this.brackettype.value == null ? "" : this.brackettype.value;
          const event = this.eventround.value == null ? "" : this.eventround.value;
          const best = this.bestof.value == null ? "" : this.bestof.value;

          if (this.typing_header) {
            generatedHeader = this.typed_header;
          } else {
            if (bracket.length > 0 && event.length > 0) {
              generatedHeader = bracket + " " + event
            } else if (bracket.length > 0) {
              generatedHeader = bracket
            } else if (event.length > 0) {
              generatedHeader = event
            }

            if (generatedHeader.length > 0 && best.length > 0) {
              generatedHeader = generatedHeader + " - " + best
            } else if (best.length > 0) {
              generatedHeader = best
            }
          }
        }
        return generatedHeader
      },
      async submitOverlayForm() {
        try {
          if ( this.teamone != null && this.teamtwo != null &&
            this.p1score != null && this.p2score != null
          ) {
            const form = {};
            const teamOne = { members: [] };
            const teamTwo = { members: [] };

            teamOne.name = this.getFormattedName(this.teamone)
            teamOne.score = this.getFormattedScore(this.p1score)

            if (this.setselection.teamOne != null) {
              teamOne.members = this.setselection.teamOne.members
            }

            teamTwo.name = this.getFormattedName(this.teamtwo)
            teamTwo.score = this.getFormattedScore(this.p2score)

            if (this.setselection.teamTwo != null) {
              teamTwo.members = this.setselection.teamTwo.members
            }

            form["teamOne"] = teamOne
            form["teamTwo"] = teamTwo

            form["eventheader"] = this.getFormattedEventHeader()

            this.socket.emit("overlay-update", {
              content: form,
              to: this.overlayRoom,
            })

          } else {
            // TODO: throw error?
          }
        } catch (e) {
          console.log(e)
        }
      },
      clearOverlayForm() {
        this.teamone = { name: "", value: "" }
        this.teamtwo = { name: "", value: "" }
        this.p1score = { name: "", value: "" }
        this.p2score = { name: "", value: "" }

        this.brackettype = { name: "", value: "" }
        this.eventround = { name: "", value: "" }
        this.bestof = { name: "", value: "" }
        this.typed_header = ""
      },
    },
    computed: {
      getTeamOneName() {
        return this.getFormattedName(this.teamone)
      },
      getTeamTwoName() {
        return this.getFormattedName(this.teamtwo)
      },
      getPlayer1Score() {
        return this.getFormattedScore(this.p1score)
      },
      getPlayer2Score() {
        return this.getFormattedScore(this.p2score)
      },
      getEventHeader() {
        return this.getFormattedEventHeader()
      }
    },
    components: {
      "p-datatable": primevue.datatable,
      "p-column": primevue.column,
      "p-dropdown": primevue.dropdown,
      "p-button": primevue.button,
      "p-autocomplete": primevue.autocomplete,
      "p-selectbutton": primevue.selectbutton,
      "p-checkbox": primevue.checkbox,
      "p-inputtext": primevue.inputtext,
    },
  }).use(primevue.config.default).mount('#app')

</script>

</html>
