<html>

<head>
  <title>UA Smash Overlay</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="/stylesheets/overlay.css">

  <style>
    body { background-color: rgba(0, 0, 0, 0);
      margin: 0px auto;
      overflow: hidden;
    }
  </style>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue@3"></script>

  <script src="/socket.io/socket.io.js"></script>

</head>

<body>
  <div id="app">

      <div class="container-fluid" style="width: 1920px; height: 1080px;">

        <div class="row justify-content-center">
          <div class="col-2">
            <img src="/fsmsmashlogo.png" style="margin-left: -5px; height: 75px; top: 3%; position: absolute;"/>
          </div>
        </div>

        <transition>
          <div v-if="p1Name.length > 0 || p2Name.length > 0" class="row justify-content-center" style="padding-top: 20px;">
            <team-one :name='p1Name' :score="p1Score" :title="eventRound" :color="'team-one-gradient'"> </team-one>
            <div class="col-2"></div>
            <team-two :name='p2Name' :score="p2Score" :title="bestOf" :color="'team-two-gradient'"> </team-two>
          </div>
        </transition>

        <transition>
          <div v-if="p1Name.length > 0 || p2Name.length > 0" class="row justify-content-center">
            <central-header :round="eventRound" :bestof="bestOf"
            :leftcolor="{'dark-background': eventRound.length > 0 || bestOf.length > 0, 'collapse-score': eventRound.length == 0 && bestOf.length == 0}"
            :rightcolor="{'dark-background': eventRound.length > 0 || bestOf.length > 0, 'collapse-score': eventRound.length == 0 && bestOf.length == 0}"> </central-header>
          </div>
        </transition>

        <transition>
          <div v-if="bracketType.length > 0" class="row" style="position: absolute; left: 10px; top: 10%; min-width: 200px;">
            <left-header :title="bracketType"> </left-header>
          </div>
        </transition>

        <div class="row justify-content-between fixed-bottom">
          <div class="col shadow camera-boxes" style="margin-left: 25px;">
            <social-media :members="p1.members"> </social-media>
          </div>

          <div class="col shadow camera-boxes" style="margin-right: 25px;">
            <social-media :members="p2.members"> </social-media>
          </div>

        </div>

      </div>

    </div>

  </div>
</body>

<script type="module">
  import TeamOne from '/javascripts/TeamOne.js'
  import TeamTwo from '/javascripts/TeamTwo.js'
  import LeftHeader from '/javascripts/LeftHeader.js'
  import CentralHeader from '/javascripts/CentralHeader.js'
  import SocialMedia from '/javascripts/SocialMedia.js'

  const { createApp} = Vue

  const socket = io("http://" + window.location.hostname + ":3000", {
    reconnectionDelayMax: 10000,
    autoConnect: false,
  })

  socket.on("overlay-push", ({ content, from }) => {
    overlayApp.p1 = content["teamOne"]
    overlayApp.p2 = content["teamTwo"]

    overlayApp.p1Name = overlayApp.p1 == null ? "" : overlayApp.p1.name
    overlayApp.p1Score = overlayApp.p1 == null ? "" : overlayApp.p1.score

    overlayApp.p2Name = overlayApp.p2 == null ? "" : overlayApp.p2.name
    overlayApp.p2Score = overlayApp.p2 == null ? "" : overlayApp.p2.score

    overlayApp.bracketType = content["bracketType"].toUpperCase()
    overlayApp.eventRound = content["eventRound"].toUpperCase()
    overlayApp.bestOf = content["bestOf"].toUpperCase()

    sessionStorage.setItem("teamOne",JSON.stringify(content["teamOne"]))
    sessionStorage.setItem("teamTwo",JSON.stringify(content["teamTwo"]))

    sessionStorage.setItem("bracketType",overlayApp.bracketType)
    sessionStorage.setItem("eventRound",overlayApp.eventRound)
    sessionStorage.setItem("bestOf",overlayApp.bestOf)
  })

  socket.on("score-push", ({ content, from }) => {

    overlayApp.p1Score = content["p1Score"]
    overlayApp.p2Score = content["p2Score"]

    if(overlayApp.p1 != null) {
      overlayApp.p1.score = content["p1Score"]
      sessionStorage.setItem("teamOne",JSON.stringify(overlayApp.p1))
    }
    if(overlayApp.p2 != null) {
      overlayApp.p2.score = content["p2Score"]
      sessionStorage.setItem("teamTwo",JSON.stringify(overlayApp.p2))
    }

  })

  const overlayApp = createApp({
    data() {
      return {
        host: window.location.hostname,
        port: ":3000",
        p1: {},
        p2: {},
        p1Name: "",
        p2Name: "",
        p1Score: "",
        p2Score: "",
        bracketType: "",
        eventRound:"",
        bestOf:"",
        socket: socket
      }
    },
    mounted() {
      const urlParams = new URLSearchParams(window.location.search)
      const room = urlParams.get('id')

      if(room != null) {
        this.socket.connect()
        this.socket.emit("subscribe",room)
      }

      const teamOne = sessionStorage.getItem("teamOne")
      const teamTwo = sessionStorage.getItem("teamTwo")

      const bracketType = sessionStorage.getItem("bracketType")
      const eventRound = sessionStorage.getItem("eventRound")
      const bestOf = sessionStorage.getItem("bestOf")

      if(teamOne != null) {
        this.p1 = JSON.parse(teamOne)
        this.p1Name = this.p1.name
        this.p1Score = this.p1.score
      }
      if(teamTwo != null) {
        this.p2 = JSON.parse(teamTwo)
        this.p2Name = this.p2.name
        this.p2Score = this.p2.score
      }

      if(bracketType != null) {
        this.bracketType = bracketType
      }
      if(eventRound != null) {
        this.eventRound = eventRound
      }
      if(bestOf != null) {
        this.bestOf = bestOf
      }

    },
    methods : {

    },
    components: {
      TeamOne,
      TeamTwo,
      LeftHeader,
      CentralHeader,
      SocialMedia,
    }
  }).mount('#app')

</script>

</html>
